.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  min-width: 680px; 
  margin: 0 auto; 
}
.wrapper {
  display: flex;
}

.raid-form {
  background-color: #111;
  padding: 20px;
  border: 1px solid #222;
  border-radius: 8px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-size: 14px;
  color: #b96efb;
  margin-bottom: 5px;
}

.form-input {
  width: 90%; 
  padding: 15px; 
  border: 1px solid #333;
  background-color: #0f0f0f;
  color: white;
  border-radius: 4px;
  font-size: 16px; 
}

.generate-btn {
  padding: 12px 25px;  
  background-color: #a855f7;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px; 
  transition: background-color 0.2s;
}

.generate-btn:hover {
  background-color: #9333ea;
}

.weapons-list,
.selected-weapons {
  background-color: #111;
  padding: 20px;
  border: 1px solid #222;
  border-radius: 8px;
  min-width: 380px;
}

.weapon-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px; 
  padding: 4px; 
  background-color: #0f0f0f;
  border: 1px solid #333;
  border-radius: 8px;
}

.weapon-img {
  width: 30px; 
  margin-right: 15px; 
}

.remove-btn {
  padding: 7px 15px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.2s;
}

.remove-btn:hover {
  background-color: #000;
}




.instructions-block {
  background-color: #1e293b; 
  border: 2px solid #334155;
  border-radius: 16px;
  padding: 24px;
  margin-bottom: 32px;
  width: 100%;
  max-width: 1000px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  font-size: 16px;
  line-height: 1.6;
  color: #f1f5f9; 
}

.instructions-block h2 {
  margin-bottom: 16px;
  font-size: 24px;
  color: #ffffff;
}

.instructions-block p {
  margin-bottom: 12px;
}

.instructions-block a {
  color: #60a5fa; 
  text-decoration: none;
}

.instructions-block a:hover {
  text-decoration: underline;
}


.command-block {
  background-color: #1f1f1f;
  border: 1px solid #333;
  padding: 20px;
  border-radius: 12px;
  margin-top: 20px;
  color: #fff;
}

.command-block h2 {
  margin-bottom: 10px;
  color: #fff;
}

.generated-command {
  background-color: #2a2a2a;
  border: 1px solid #444;
  padding: 12px;
  border-radius: 8px;
  color: #0f0;
  font-family: monospace;
  word-break: break-word;
}

.command-section {
  margin-top: 20px;
  padding: 15px;
  background-color: #2c2f3e;
  border-radius: 10px;
}

.command-textarea {
  width: 100%;
  height: 80px;
  padding: 10px;
  background-color: #1f1f1f;
  color: white;
  font-family: monospace;
  border: 1px solid #444;
  border-radius: 5px;
  resize: none;
}

